{% extends "Create/CreateLayout.html" %}

{% block style %}{% endblock style%}

{% block title %}Login{% endblock title%}

{% block content%}
<h1>Add Teacher</h1>
<form method="POST" action="{{ url_for('CreateTeacher') }}">
    <p class="form-group">
        <label for="teacher_name">Teacher Name:</label>
        <input type="text" id="teacher_name" name="teacher_name" required>
    </p>
    <p>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="M">男</option>
            <option value="F">女</option>
        </select>
    </p>
    <p class="form-group">
        <label for="department_id">Department ID:</label>
        <input type="text" id="department_id" name="department_id" required>
    </p>
    <p>
        <button type="submit">Add Teacher</button>
    </p>
   
</form>
{% endblock content%}