<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="{{url_for('static', filename='css/header.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/site.css')}}" rel="stylesheet">
        {% block style%}{% endblock style%} 
        <title>{% block title%}{% endblock title%} -titleBlock</title>
    </head>
    <body style="margin: 0;">
        <header>
            <div class="Tabs">
                <a class="Tab" href="{{url_for('CourseSelectRecommendation')}}">返回</a>
            </div>
            <div class="Tabs">
                <a class="Tab" href="{{url_for('ReadStudents')}}">查看學生</a>
            </div>
            <div class="Tabs">
                <a class="Tab" href="{{url_for('ReadTeachers')}}">查看教師</a>
            </div>
            <div class="Tabs">
                <a class="Tab" href="{{url_for('ReadCourses')}}">查看課程</a>
            </div>
            <div class="Tabs">
                <a class="Tab" href="{{url_for('PersonalData')}}">查看選課</a>
            </div>
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith%}
        <div class="content">
            {% block content %}
            {% endblock content %}        
        </div>
    </body>
</html>
<style>

</style>