{% extends "Read/ReadLayout.html" %}
{% block style %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    h1{
        margin: 10px;
        display: inline-block;
    }
</style>
{% endblock style%}
{% block title %}Courses{% endblock title%}
{% block content%}
<h1>View Teachers</h1><a href="{{url_for('CreateTeacher')}}">新增教師</a>
<table>
    <tr>
        <th>Teacher ID</th>
        <th>Teacher Name</th>
        <th>Department</th>
        <th>Gender</th>
    </tr>
    {% for teacher in teachers %}
    <tr>
        <td>{{ teacher[0] }}</td>
        <td>{{ teacher[1] }}</td>
        <td>{{ teacher[2] }}</td>
        <td>{{ teacher[3] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content%}