<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>更新課程</title>
    </head>
    <body style="margin: 0;"> 
        <form method="post" action="{{url_for('Updatedata')}}">
        {% with data = FormData %}
        {% if data %}
            <p>
                <label for="Course_name">課程名</label>
                <input type="text" id="Course_name" 
                    name="Course_name" placeholder="請輸入要更改的課程名稱" 
                    value="{{data.course}}">
            </p>
            <p>
                <label for="Number">排序</label>
                <input type="number" id="number" 
                    name="number" placeholder="請輸入要更改的遞補序號"
                    value="{{data.number}}">
            </p>
            <p>
                <label for="isHit">是否選上</label>
                <input type="checkbox" id="isHit" 
                    name="isHit" checked={{data.isHit}}>
            </p>
            <p>
                <button type='submit'>查詢</button>
            </p>
        {% else %}
            There is no data
        {% endif %}
        {% endwith%}
        </form>
    </body>
</html>
<style>

</style>