{% extends "base.html" %}

{% block style %}
<link href="{{url_for('static', filename='css/courseSelect.css')}}" rel="stylesheet">
{% endblock style%}
{% block title %}Login{% endblock title%}

{% block content%}
<form method='post' action={{ url_for('PersonPost') }}>
    <p>
        <label for="Person">姓名或學號：</label>
        <input type='text' id="Person" name='person' placeholder="請輸入你的名字/學號">
    </p>
    <p>
        <!-- 或是可能要用 Select -->
        <label for="Department">科系：</label>
        <input type="text" id="Department" name="department" placeholder="請輸入你的科系">
    </p>
    <p>
        <label>年級：</label>
        <span id="grade-span">
            <label for="Grade-1" class="grade">大一</label>
            <input type="radio" id="Grade-1" name="grades" value="1">
            <label for="Grade-2" class="grade">大二</label>
            <input type="radio" id="Grade-2" name="grades" value="2">
            <label for="Grade-3" class="grade">大三</label>
            <input type="radio" id="Grade-3" name="grades" value="3">
            <label for="Grade-4" class="grade">大四</label>
            <input type="radio" id="Grade-4" name="grades" value="4">
            <label for="Grade-another" class="grade">其他</label>
            <input type="radio" id="Grade-another" name="grades" value="5">
        </span>
    </p>
    <p>
        <label for="Minor">是否有雙主修或輔系：</label>
        <input type="checkbox" id="Minor">
    </p>
    <!-- 目前未加入POST判斷 -->
    <p id="MinorBlock">
        <label for="MinorInput">雙主修or輔系輸入：</label>
        <input type="text" id="MinorInput" name="minor" placeholder="例：資科系,經濟系">
    </p>
    <p>
        <!-- 或是可能要用 Select -->
        <label for="Course">課程：</label>
        <input type="text" id="Course" name="course" placeholder="請輸入你選的課程">
    </p>
    <p>
        <label for="number">遞補序號：</label>
        <input type="number" id="number" name="number" placeholder="請輸入遞補序號">
    </p>
    <p>
        <label for="isHit">是否選中：</label>
        <input type="checkbox" id="isHit" name="isHit">
    </p>
    <p>
        <button type='submit'>提交</button>
    </p>
</form>

<script src="{{url_for('static', filename='js/CourseSelect.js')}}"></script>
{% endblock content%}