{% extends "base.html" %}
{% block style %}
<link href="{{url_for('static', filename='css/personaldata.css')}}" rel="stylesheet">
{% endblock style%}
{% block title %}Login{% endblock title%}
{% block content%}
<form method='post' action={{ url_for('PersonalData') }}>
    <p>
        <!-- 或是可能要用 Select -->
        <label for="Student_id">學號</label>
        <input type="text" id="Student_id" name="Student_id" placeholder="請輸入你的學號">
    </p>
    <p>
        <button type='submit'>查詢</button>
    </p>
</form>
<div>
    {% with messages = test %}
    {% if messages %}
    <table>
        <tr class="table-head">
            <th>科系</th>
            <th>課程</th>
            <th>排序</th>
            <th>是否選上</th>
            <th>更新</th>
            <th>刪除</th>
        </tr>
        {% for message in messages %}
        <tr>
            <td>{{ message.department }}</td>
            <td>{{ message.course }}</td>
            <td>{{ message.number }}</td>
            <td>{{ "選上" if message.isHit else "沒選上" }}</td>
            <td>
                <!-- TODO : 更新按鈕 到時會改成 a標籤 導向另一個網站去更新 -->
                <a class="Tab" 
                    href="{{url_for('Updatedata', student_id='123121234', course_id='123456786')}}">更新按鈕
                </a>
            </td>
            <td>
                <!-- 不知道怎麼在這裡接 反正接刪除ˊ ˇ ˋ  -->
                <button type="button" class="delete-btn" id="deleteButton">
                    刪除按鈕
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endwith%}
</div>
<script>
document.getElementById("deleteButton").addEventListener("click", function() {
    fetch('/delete', {
        method: 'POST'
    })
    .then(function(response) {
        // 处理删除成功的情况
        location.reload();
    })
});
</script>
{% endblock content%}