{% extends "base.html" %}
{% block style %}
<link href="{{url_for('static', filename='css/recommendation.css')}}" rel="stylesheet">
{% endblock style%}
{% block title %}Login{% endblock title%}
{% block content%}
<form method='post' action={{ url_for('CourseSelectRecommendation') }}>
    <p>
        <!-- 或是可能要用 Select -->
        <!-- <label for="Department">科系</label>
        <input type="text" id="Department" name="department" placeholder="請輸入你的科系"> -->
    </p>
    <p>
        <!-- 或是可能要用 Select -->
        <label for="Course">課程ID</label>
        <input type="text" id="Course" name="Course" placeholder="請輸入你選的課程">
        <!-- <label for="number">遞補序號</label>
        <input type="number" id="number" name="number" placeholder="請輸入遞補序號"> -->
    </p>
    <p>
        <button type='submit'>提交</button>
    </p>
</form>
<div>
    {%with Data = data %}
    {%if data%}
    <h1>機率 :{{Data[2]*100}}%</h1>
    <div>
        <h1>最大人數 :{{Data[0]}} 人</h1>
        <h1>當前人數 :{{Data[1]}} 人</h1>
    </div>
    {% endif%}
    {% endwith%}
    <!-- {% with messages = test %}
    {% if messages %}
    <table>
        <tr class="table-head">
            <th>學號</th>
            <th>課程</th>
            <th>排序</th>
        </tr>
        {% for message in messages %}
        <tr>
            <td>{{ message[0] }}</td>
            <td>{{ message[1] }}</td>
            <td>{{ message[2] }}</td>
        </tr>
        
        {% endfor %}
    </table>
    {% endif %}
    {% endwith%} -->
    
</div>
{% endblock content%}