<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>更新課程</title>
    </head>
    <body style="margin: 0;"> 
        <form method="post" action="{{url_for('Updatedata')}}">
        {% with data = FormData %}
        {% if data %}
        <p>
            <label for="Student_id">學號</label>
            <input type="text" id="Student_id" 
                name="Student_id" value="{{data[0][0]}}">
        </p>
            <p>
                <label for="Course_id">課程號</label>
                <input type="text" id="Course_id" 
                    name="Course_id"
                    value="{{data[0][1]}}">
            </p>
            <p>
                <label for="Number">排序</label>
                <input type="number" id="Number" 
                    name="Number" placeholder="請輸入要更改的遞補序號"
                    value="{{data[0][2]}}">
            </p>
            <p>
                <button type='submit'>查詢</button>
            </p>
        {% else %}
            There is no data
            <!-- TODO: 要輸入參數，讓他導回原本的紀錄 -->
            <a href="{{url_for("PersonalData")}}">返回</a>
        {% endif %}
        {% endwith%}
        </form>
    </body>
</html>
<style>

</style>